.row
  .large-12.large-centered.spacer
.row
  .large-12.columns
    = link_to('New Voyage', new_voyage_path, :class => 'button small success radius new_button', :id=>'new_voyage', :remote=>true) if (@auth.present? && @auth.is_admin.present?)
    #form
    #voyages
      = render :partial => 'voyages'
