.row
  .large-12.large-centered.spacer

.row
  .large-10.large-centered.columns
    = link_to('New Voyage', '#', :class => 'button small success radius', :id=>'new_voyage')

#form
  = render :partial => 'form'

#flights
  = render :partial => 'voyages'