.row
  .large-12.large-centered.spacer

.row
  .large-10.large-centered.columns
    = link_to('New Voyage', new_voyage_path, :class => 'button small success radius', :id=>'new_voyage', :remote=>true)

#form

#flights
  = render :partial => 'voyages'