/this pushes content 60px away from the topbar -ron
.row
  .large-12.large-centered.spacer

.row
  .large-12
    - @voyage.seats.each do |seat|
      %br= seat.row seat.column

.row
  .large-10.large-centered.columns
    #chart
      = render :partial => 'seatchart'