.bg
  #zeppelins
    %h1.white Our Zeppelin Fleet:
    %ul
      - @zeppelins.each do |zeppelin|
        %h4.li.white= zeppelin.name
        %table.admin
          - zeppelin.number_of_columns.times do
            %tr.admin
              - zeppelin.number_of_rows.times do
                %td.admin