.row
  .large-12.large-centered.spacer

.row
  .large-12.columns
    = link_to('LAUNCH ZEPPELIN', new_zeppelin_path, :remote => true, :class => 'button medium round new_button')
#form

.row
  .large-12.columns
    #show
      = render(:partial => 'zeppelins')



