.row
  .large-12.large-centered.spacer
.row
  .large-12.columns
    = link_to('New Zeppelin', new_zeppelin_path, :remote => true, :class => 'button small success radius new_button')
    #form
.row
  .large-12.columns
    #show
      = render(:partial => 'zeppelins')



