.row
  .large-12.large-centered.spacer

.row
  .large-10.large-centered.columns
    = link_to('New Plane', '#', :class => 'button small success radius')

#form
  = render :partial => 'form'



#show
  = render :partial => 'airplanes'
