table.dataTable tr.odd
{
  background: url('https://dl.dropbox.com/u/5433755/ZEPPELIN/dtbg1.png') repeat-x;
}

table.dataTable tr.odd td.sorting_1
{
  background-color: #AAA;
  opacity: 0.9;
  -webkit-filter: invert(1);
}

table.dataTable tr.even
{
  background: url('https://dl.dropbox.com/u/5433755/ZEPPELIN/grey_wash_wall.png') repeat-x;
}

table.dataTable tr.even td.sorting_1
{
  background-color: #CCC;
  opacity: 0.9;
  -webkit-filter: invert(1);
}
