/* GENERAL TYPOGRAPHY PRESETS */

* { letter-spacing: -0.05em; }

h1, h2, h3, h4, .title { font-family: 'League Gothic'; }
// p, label, input { font-family: Georgia;}

/* END */



/* this is for the fancy type on the main index */
.title {
  color: white;
  text-shadow: black 2px 2px 10px;
  letter-spacing: 0px;
  text-transform: uppercase;
}





/* utilities */

.spacer{ height: 60px; }

.center-text{ text-align: center; }

.green { color: #2C9454; }
.red { color: red; }

.white
{
  background-color: white;
}



table {
  width: 400px;
  font-size: 30px;
}

#chart{
/*  height: 400px;*/
  width: 600px;
}


.radio{
  float: right;
  padding-left: 10px;
  font-size: 30px;
}

/* sets full viewport, proportionally scaled, bg image */
body {
  background: url('http://img204.imageshack.us/img204/5637/ussmacon3iq9.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}



.seat_column
{
  height: 50px;
  width: 50px;
  display: inline-block;
  border: 1px solid #333;
  margin: 6px;

}

/* background color for a user occupied seat */
.blue
{
  background-color: #003366;
}

/* background color for an occupied seat */
.gray
{
  background-color: #333;
}

.clear
{
  clear: both;
}

table.admin {
  td {
    border: 1px solid black;
    padding: 1px;
  }
}

.bg {
  background-color: rgba(100,100,100, 0.8);
  padding: 20px;
}

label{
  color: white;
  font-weight: bold;
}


/* FONTS CODE */

/* Regular */
@font-face {
    font-family: 'League Gothic';
    src: font-url('leaguegothic-italic-webfont.eot');
    src: font-url('leaguegothic-italic-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('leaguegothic-italic-webfont.woff') format('woff'),
         font-url('leaguegothic-italic-webfont.ttf') format('truetype'),
         font-url('leaguegothic-italic-webfont.svg#league_gothic_italicregular') format('svg');
    font-weight: normal;
    font-style: italic;
}

/* Italic */
@font-face {
    font-family: 'League Gothic';
    src: font-url('leaguegothic-regular-webfont.eot');
    src: font-url('leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('leaguegothic-regular-webfont.woff') format('woff'),
         font-url('leaguegothic-regular-webfont.ttf') format('truetype'),
         font-url('leaguegothic-regular-webfont.svg#league_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* styling for forms */
.form_voyage {
  background-color: #fff;
  /*opacity: 0.8;*/
  padding: 10px;
  border-radius: 15px;
  box-shadow: 5px 5px 25px #000;
  border: 5px solid rgb(206,101,37);
  border-width: 5px;
  border-style: solid;
  border-color: -webkit-gradient(linear, 0 0, 0 bottom, from(#DFA24E), to(#000000));
  border-color: -webkit-linear-gradient(#DFA24E, #000000);
  border-color: -moz-linear-gradient(#DFA24E, #000000);
  border-color: -ms-linear-gradient(#DFA24E, #000000);
  border-color: -o-linear-gradient(#DFA24E, #000000);
  border-color: linear-gradient(#DFA24E, #000000);

}




.form_voyage form input {
  opacity: 1;
}

.show_voyages {
  background-color: #fff;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 5px 5px 25px #000;
}

.show_zeppelins {
  background-color: #fff;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 5px 5px 25px #000;

  ul li {
    list-style: none;
  }
}


.map_canvas {
  width: 200px;
  height: 200px;
}




